/* General Styles */

.available_airports {
text-align: center;
}

.list-airports  {
	margin: 50px auto;
}

.list-airports tr a {
	color:	green;
	cursor: pointer;
	text-decoration: none;
}

.airports-details {
	font-size: 18px;
	color: #484137;
}
